    # MY server config

    PermitEmptyPasswords no
    PasswordAuthentication no
    AddressFamily inet
    ListenAddress 0.0.0.0:2222
    PermitRootLogin no
    AllowUsers pi
    ClientAliveInterval 300
    ClientAliveCountMax 0
    MaxAuthTries 4
